.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  background: #3f51b5;
  color: white;
}

.content {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

.mat-nav-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-list-item {
  cursor: pointer;
  margin-bottom: 15px; 
}

mat-list-item:hover {
  background-color: #e0e0e0;
}

.logout {
  margin-top: auto;
}

.menu-button {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.notification-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 100%;
  }

  .menu-button {
    display: inline-block;
  }
}